<!DOCTYPE HTML>

<html>
    <head>
    
        <!--<style> * {scrollbar-width: thin; scrollbar-color: #4e91c9 #ffffff;} ::-webkit-scrollbar {width: 5px; height: 5px;} ::-webkit-scrollbar-track {background: white;} ::-webkit-scrollbar-thumb {background: #4e91c9;} ::-webkit-scrollbar-thumb:hover {background: #626d79e3;} td {font-family: Courier New; font-size: 13px; background-color:white;} #vertical {color: grey; -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform: rotate(90deg); -ms-transform:rotate(90deg); transform: rotate(90deg); white-space:nowrap; display:block; bottom:0; width:2px; height:20px;} 
                </style>  -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/styles.css') }}"></link>
        
    </head>
    <body>
        <p>MACSE alignment files were not submitted</p>
        <p>        Please return to home page and submit the nucleotidic and aminoacidic fastas of the MACSE alignment as well as the </p>
        <p> file outputted by pseudochecker v2.0 which contains information about the analysis and an analysis ID </p>
        <p>For more information on how to use PseudoViz and Pseudochecker2.0 please go to <li>Insert link to README page on bitbucket</li></p>
    </body>