<div id="tabBox">
    <div class="tabWrap">
      <input id="tab-01" name="tab" type="radio" checked />
      <label class="tab label-01" for="tab-01"><span>1</span></label>
      <!-- tabContent 01 -->
      <article class="tabContent">
        <h1>Header (Primary)</h1>
        <p>Content Placement</p>
      </article>
    </div>
    <div class="tabWrap">
      <input id="tab-02" name="tab" type="radio" />
      <label class="tab label-02" for="tab-02"><span>2</span></label>
      <!-- tabContent 02 -->
      <article class="tabContent">
        <h1>Header (Secondary)</h1>
        <p>Content Placement</p>
      </article>
    </div>
    <div class="tabWrap">
      <input id="tab-03" name="tab" type="radio" />
      <label class="tab label-03" for="tab-03"><span>3</span></label>
      <!-- tabContent 02 -->
      <article class="tabContent">
        <h1>Header (Tertiary)</h1>
        <p>Content Placement</p>
      </article>
    </div>
  </div>
  
  <!-- Signature -->
  <div class="madeByContainer">
    <span>Made By With</span>
    <div class="heart"></div>
    <span>Andrew Wierzba</span>
  </div>